<div class="content">
    <div class="form">
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <div class="element">
                <label>Имя: </label>
                <input name="userName" formControlName="userName" pattern="[A-ZА-Я][a-zа-яё]+"/>
            </div>
            <div *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">
                Имя указано не корректно!
            </div>

            <div class="element">
                <label>Фамилия: </label>
                <input name="userSurname" formControlName="userSurname" pattern="[A-ZА-Я][a-zа-яё]+"/>
            </div>
            <div *ngIf="myForm.controls['userSurname'].invalid && myForm.controls['userSurname'].touched">
                Фамилия указана не корректно!
            </div>

            <div class="button">
                <button type="submit" [disabled]="myForm.invalid">Отправить!</button>
            </div>
        </form>
    </div>

    <div class="info">
        <div class="element">Пользователи:</div>
        <div class="users">
            <ul>
                <li *ngFor="let user of users"> {{user.userSurname}} {{user.userName}}</li>
            </ul>
        </div>
    </div>
</div>