<div>
    <p>Основной компонент (я и ссылочки ниже из app.component.html)</p>

    <nav>
        <a routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home <- здесь <span italic>курсивный</span> текст через директиву</a>
        <a routerLink="/page1" routerLinkActive="active">page1 <- здесь guard на вход и считывание с json</a>
        <a routerLink="/page2" routerLinkActive="active">page2 <- здесь навигация через navigateByUrl('/') и guard на выход</a>
        <a [routerLink]="['/page3', 5]" routerLinkActive="active">page3 <- здесь отображение параметра, и навигация через navigate(['/'])</a>
    </nav>
    <br>
    <span>А вот чел ниже принадлежит одной из страниц:</span>
    <router-outlet></router-outlet>
</div>