<div class="content">
    <div class="form">
        <div class="element">
            <label>Имя:</label>
            <input name="name" [(ngModel)]="name" (ngModelChange)="onNameChange()" />
        </div>
        <div class="element">
            <label>Фамилия:</label>
            <input name="surname" [(ngModel)]="surname" />
        </div>
        <div class="element">
            <label>Возраст:</label>
            <input type="number" name="age" [(ngModel)]="age" />
        </div>
        <div class="button">
            <button (click)="addUser()">Отправить!</button>
        </div>
    </div>


    <div class="info">
        <div class="element">Пользователи:</div>
        <ul>
            <li *ngFor="let user of users"> {{user.name}} {{user.surname}} {{user.age}}</li>
        </ul>
    </div>
</div>